package ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName}.vo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Builder;
import lombok.Data;

/**
 * ${table.classComment} Excel Response VO
 *
 * @author ${table.author}
 */
@Schema(description = "${sceneEnum.name} - ${table.classComment}Excel Response VO")
@Data
@Builder
public class ${sceneEnum.prefixClass}${table.className}ExcelRespVO {

    /**
     * 导入/导出结果信息
     */
    @Schema(description = "信息", requiredMode = Schema.RequiredMode.REQUIRED)
    private String message;

}
