#set ($isI18n = $extendConfig.get('isI18n') == '0')
#set ($i18nModuleType = $extendConfig.get('i18nModuleType'))
#set ($functionOps = ['query', 'create', 'update', 'delete', 'export'])
#set ($FUNCTION_ZH_NAMES = ['查询', '创建', '更新', '删除', '导出'])
#set ($isImport= $extendConfig.get('isImport') != '1')
-- 非国际化模式下的常量定义（始终生效，确保非国际化分支能正常使用变量）
#if (!$isI18n)
SET @MENU_TYPE_MENU = 2;
SET @MENU_TYPE_BUTTON = 3;
SET @MENU_STATUS_NORMAL = 0;
#end

#if ($isI18n)
-- 国际化常量定义（可在生成后手动修改 SQL 中的变量值）
-- SET @IS_SYSTEM = 0;
-- SET @USE_TYPE_FORM = 3;
-- SET @USE_TYPE_FIELD = 3;
-- SET @USE_TYPE_FUNCTION = 4;
-- SET @USE_TYPE_EXCEPTION = 5;
-- SET @USE_TYPE_MENU = 6;
-- SET @MODULE_TYPE = 0;
-- SET @LOCALE_TARGET_PC = 2;
-- SET @LOCALE_TARGET_BACKEND = 1;
-- SET @LOCALE_ZH_EN = 'en-US';
-- SET @LOCALE_ZH_CN = 'zh-CN';
-- SET @CREATOR = '0';
SET @IS_SYSTEM = 0;
SET @USE_TYPE_FORM = 2;
SET @USE_TYPE_FIELD = 3;
SET @USE_TYPE_FUNCTION = 4;
SET @USE_TYPE_EXCEPTION = 5;
SET @USE_TYPE_MENU = 6;
SET @MODULE_TYPE = '$i18nModuleType';
SET @LOCALE_TARGET_PC = 2;
SET @LOCALE_TARGET_BACKEND = 1;
SET @LOCALE_ZH_EN = 'en-US';
SET @LOCALE_ZH_CN = 'zh-CN';
SET @CREATOR = '0';
SET @ORDER_NUM = 5;
#set ($TABLE_REMARK = "${table.classComment}")
#set ($FUNCTION_ZH_NAMES = ['查询', '创建', '更新', '删除', '导出'])
#set ($simpleClassNameNoCase = $simpleClassName.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())
#set ($businessNameReadable = $table.businessName.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())


-- =========================================
-- 国际化键名表（infra_i18n_key）
-- =========================================

-- -----------------------------------------
-- 菜单（use_type = 6）
-- key: ${module}.${business}.menu
-- -----------------------------------------
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.menu';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.menu', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_MENU, @ORDER_NUM, 'menu', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 表单（use_type = 2）
-- key: ${module}.${business}
-- -----------------------------------------
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.${table.businessName}';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.${table.businessName}', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FORM, @ORDER_NUM, 'form', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 功能（use_type = 4）
-- key: ${module}.${business}.action.query|create|update|delete|export|import
-- -----------------------------------------
#set ($index = 1)
#foreach ($fn in $functionOps)
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.action.${fn}';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${FUNCTION_ZH_NAMES.get($foreach.count - 1)}-${table.classComment}', '${i18nModuleType}.${table.businessName}.action.${fn}', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, $index, '${fn}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#set ($index = $index + 1)
#end
#if(${isImport})
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.action.import';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('导入-${table.classComment}', '${i18nModuleType}.${table.businessName}.action.import', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, $index, 'import', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end

-- -----------------------------------------
-- 字段（use_type = 3）
-- key: ${module}.${business}.field.xxx
-- -----------------------------------------
#set ($index = 1)
#foreach ($column in $columns)
#if ($column.listOperationResult)
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.field.${column.javaField}';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${column.columnComment}', '${i18nModuleType}.${table.businessName}.field.${column.javaField}', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FIELD, @ORDER_NUM, '${column.javaField}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#set ($index = $index + 1)
#end
#end

-- =========================================
-- 国际化信息表（infra_i18n_message）- 英文
-- =========================================

-- -----------------------------------------
-- 菜单（use_type = 6）
-- -----------------------------------------
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.menu' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.menu', @LOCALE_ZH_EN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_MENU, '${businessNameReadable}', 'menu', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 表单（use_type = 2）
-- -----------------------------------------
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.${table.businessName}' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.${table.businessName}', @LOCALE_ZH_EN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FORM, '${businessNameReadable}', 'menu', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 功能（use_type = 4）
-- -----------------------------------------
#foreach ($fn in $functionOps)
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.action.${fn}' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${FUNCTION_ZH_NAMES.get($foreach.count - 1)}', '${i18nModuleType}.${table.businessName}.action.${fn}', @LOCALE_ZH_EN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, '${businessNameReadable} $fn', '${fn}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if(${isImport})
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.action.import' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入', '${i18nModuleType}.${table.businessName}.action.import', @LOCALE_ZH_EN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, '${businessNameReadable} import', 'import', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end

-- -----------------------------------------
-- 字段（use_type = 3）
-- -----------------------------------------
#foreach ($column in $columns)
#if ($column.listOperationResult)
#set ($_fieldReadable = $column.javaField.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.field.${column.javaField}' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${column.columnComment}', '${i18nModuleType}.${table.businessName}.field.${column.javaField}', @LOCALE_ZH_EN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FIELD, '${_fieldReadable}', '${column.javaField}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#end

-- =========================================
-- 国际化信息表（infra_i18n_message）- 中文
-- =========================================

-- -----------------------------------------
-- 菜单（use_type = 6）
-- -----------------------------------------
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.menu' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.menu', @LOCALE_ZH_CN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_MENU, '${table.classComment}', 'menu', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 表单（use_type = 2）
-- -----------------------------------------
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.${table.businessName}' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}', '${i18nModuleType}.${table.businessName}.${table.businessName}', @LOCALE_ZH_CN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FORM, '${table.classComment}', 'menu', @CREATOR, NOW(), @CREATOR, NOW(), 0);

-- -----------------------------------------
-- 功能（use_type = 4）
-- -----------------------------------------
#foreach ($fn in $functionOps)
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.action.${fn}' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${FUNCTION_ZH_NAMES.get($foreach.count - 1)}', '${i18nModuleType}.${table.businessName}.action.${fn}', @LOCALE_ZH_CN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, '${table.classComment}${FUNCTION_ZH_NAMES.get($foreach.count - 1)}', '${fn}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if(${isImport})
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.action.import' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入', '${i18nModuleType}.${table.businessName}.action.import', @LOCALE_ZH_CN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, '${table.classComment}导入', 'import', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end

-- -----------------------------------------
-- 字段（use_type = 3）
-- -----------------------------------------
#foreach ($column in $columns)
#if ($column.listOperationResult)
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.field.${column.javaField}' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${column.columnComment}', '${i18nModuleType}.${table.businessName}.field.${column.javaField}', @LOCALE_ZH_CN, @LOCALE_TARGET_PC, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FIELD, '${column.columnComment}', '${column.javaField}', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#end

-- =========================================
-- VO 字段校验异常国际化（@I18nNotEmpty / @I18nNotNull）
-- key: ${i18nModuleType}.${business}.back.xxx.notEmpty|notNull
-- =========================================
#set ($index = 1)
#foreach ($column in $columns)
#if ((${column.createOperation} || ${column.updateOperation}) && !${column.nullable} && !${column.primaryKey})
#if (${column.javaType} == 'String')
#set ($_errorType = "notEmpty")
#else
#set ($_errorType = "notNull")
#end
#set ($_fieldReadable = $column.javaField.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())
#set ($_zhMsg = "${TABLE_REMARK}${column.columnComment}不能为空")
#set ($_enMsg = "${businessNameReadable} ${_fieldReadable} cannot be empty")
-- ${index}. ${TABLE_REMARK}-${column.columnComment}${_errorType}
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}不能为空', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, '${_errorType}', @CREATOR, NOW(), @CREATOR, NOW(), 0);

DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}不能为空', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${_enMsg}', '${_errorType}', @CREATOR, NOW(), @CREATOR, NOW(), 0);

DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}不能为空', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.${_errorType}', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${_zhMsg}', '${_errorType}', @CREATOR, NOW(), @CREATOR, NOW(), 0);

#set ($index = $index + 1)
#end
#end

-- =========================================
-- PageReqVO BETWEEN 字段 @I18nSize 校验国际化
-- key: ${i18nModuleType}.${business}.back.xxx.size
-- =========================================
#set ($sizeIndex = 1)
#foreach ($column in $columns)
#if (${column.listOperation} && ${column.listOperationCondition} == "BETWEEN")
#set ($_fieldReadable = $column.javaField.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())
#set ($_zhMsg = "${TABLE_REMARK}${column.columnComment}长度不能超过2")
#set ($_enMsg = "${businessNameReadable} ${_fieldReadable} size cannot exceed 2")
-- ${sizeIndex}. ${TABLE_REMARK}-${column.columnComment} size
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}长度不能超过2', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'size', @CREATOR, NOW(), @CREATOR, NOW(), 0);

DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}长度不能超过2', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${_enMsg}', 'size', @CREATOR, NOW(), @CREATOR, NOW(), 0);

DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${TABLE_REMARK}-${column.columnComment}长度不能超过2', '${i18nModuleType}.${table.businessName}.back.${column.javaField}.size', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${_zhMsg}', 'size', @CREATOR, NOW(), @CREATOR, NOW(), 0);

#set ($sizeIndex = $sizeIndex + 1)
#end
#end

-- =========================================
-- 后端错误码国际化键名表（infra_i18n_key）- 异常
-- key: ${module}.${business}.back.xxx
-- =========================================
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if(${isImport})
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.action.import';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入数据不能为空', '${i18nModuleType}.${table.businessName}.action.import', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_FUNCTION, $index, 'import', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 2 )
-- 树表特有错误码
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.existChildren';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-存在子级无法删除', '${i18nModuleType}.${table.businessName}.back.existChildren', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentNotExists';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-父级不存在', '${i18nModuleType}.${table.businessName}.back.parentNotExists', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentError';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置自己为父级', '${i18nModuleType}.${table.businessName}.back.parentError', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.Duplicate';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${treeNameColumn.columnComment}已存在', '${i18nModuleType}.${table.businessName}.back.Duplicate', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentIsChild';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置子级为父级', '${i18nModuleType}.${table.businessName}.back.parentIsChild', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 11 )
-- 主子表特有错误码
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if(${isImport})
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.back.import.dataEmpty' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入数据不能为空', '${i18nModuleType}.back.import.dataEmpty', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-导入数据不能为空', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( !$subTable.subJoinMany )
DELETE FROM infra_i18n_key WHERE message_key = '${i18nModuleType}.${table.businessName}.back.exists';
INSERT INTO infra_i18n_key (message_name, message_key, is_system, module_type, use_type, order_num, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-已存在', '${i18nModuleType}.${table.businessName}.back.exists', @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, @ORDER_NUM, 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#end
#end

-- =========================================
-- 后端错误码国际化信息表（infra_i18n_message）- 异常 - 英文
-- =========================================
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${simpleClassNameNoCase} does not exist', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if (${isImport})
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.back.import.dataEmpty' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入数据不能为空', '${i18nModuleType}.back.import.dataEmpty', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${simpleClassNameNoCase} import data cannot be empty', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 2 )
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.existChildren' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-存在子级无法删除', '${i18nModuleType}.${table.businessName}.back.existChildren', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, 'child ${simpleClassNameNoCase} exists, cannot delete', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentNotExists' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-父级不存在', '${i18nModuleType}.${table.businessName}.back.parentNotExists', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, 'parent ${simpleClassNameNoCase} does not exist', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentError' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置自己为父级', '${i18nModuleType}.${table.businessName}.back.parentError', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, 'cannot set itself as parent ${simpleClassNameNoCase}', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${treeNameColumn_javaField_underlineCase}Duplicate' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${treeNameColumn.columnComment}已存在', '${i18nModuleType}.${table.businessName}.back.${treeNameColumn_javaField_underlineCase}Duplicate', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${simpleClassNameNoCase} with this ${treeNameColumn_javaField_underlineCase} already exists', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentIsChild' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置子级为父级', '${i18nModuleType}.${table.businessName}.back.parentIsChild', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, 'cannot set its own child as parent', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 11 )
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
#set ($subTableNameNoCase = $subTable.className.replaceAll('([A-Z])', ' $1').replace('_', ' ').trim().toLowerCase())
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${subTableNameNoCase} does not exist', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if ( !$subTable.subJoinMany )
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.exists' AND locale = @LOCALE_ZH_EN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-已存在', '${i18nModuleType}.${table.businessName}.back.exists', @LOCALE_ZH_EN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${subTableNameNoCase} already exists', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#end
#end

-- =========================================
-- 后端错误码国际化信息表（infra_i18n_message）- 异常 - 中文
-- =========================================
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-不存在', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if(${isImport})
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.back.import.dataEmpty' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-导入数据不能为空', '${i18nModuleType}.back.import.dataEmpty', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-导入数据不能为空', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 2 )
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.existChildren' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-存在子级无法删除', '${i18nModuleType}.${table.businessName}.back.existChildren', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-存在子级无法删除', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentNotExists' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-父级不存在', '${i18nModuleType}.${table.businessName}.back.parentNotExists', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-父级不存在', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentError' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置自己为父级', '${i18nModuleType}.${table.businessName}.back.parentError', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-不能设置自己为父级', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.${treeNameColumn_javaField_underlineCase}Duplicate' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-${treeNameColumn.columnComment}已存在', '${i18nModuleType}.${table.businessName}.back.${treeNameColumn_javaField_underlineCase}Duplicate', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-${treeNameColumn.columnComment}-已存在', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.parentIsChild' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${table.classComment}-不能设置子级为父级', '${i18nModuleType}.${table.businessName}.back.parentIsChild', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${table.classComment}-不能设置子级为父级', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#if ( $table.templateType == 11 )
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.notExists' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-不存在', '${i18nModuleType}.${table.businessName}.back.notExists', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${subTable.classComment}-不存在', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#if ( !$subTable.subJoinMany )
DELETE FROM infra_i18n_message WHERE message_key = '${i18nModuleType}.${table.businessName}.back.exists' AND locale = @LOCALE_ZH_CN;
INSERT INTO infra_i18n_message (message_name, message_key, locale, locale_target, is_system, module_type, use_type, message, remark, creator, create_time, updater, update_time, deleted)
VALUES ('${subTable.classComment}-已存在', '${i18nModuleType}.${table.businessName}.back.exists', @LOCALE_ZH_CN, @LOCALE_TARGET_BACKEND, @IS_SYSTEM, @MODULE_TYPE, @USE_TYPE_EXCEPTION, '${subTable.classComment}-已存在', 'back', @CREATOR, NOW(), @CREATOR, NOW(), 0);
#end
#end
#end
#end
-- =========================================
-- 菜单相关 SQL（菜单和按钮）
-- =========================================

-- -----------------------------------------
-- 菜单常量定义
-- -----------------------------------------
SET @MENU_TYPE_MENU = 2;
SET @MENU_TYPE_BUTTON = 3;
SET @MENU_STATUS_NORMAL = 0;

-- -----------------------------------------
-- 菜单 INSERT（use_type = 6）
-- name: ${module}.${business}.menu
-- -----------------------------------------
#if ($isI18n)
INSERT INTO system_menu(
    name, i18n, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment}管理', '${table.moduleName}.${table.businessName}.menu', '', @MENU_TYPE_MENU, @ORDER_NUM, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', @MENU_STATUS_NORMAL, '${table.className}'
);
SET @parentId = LAST_INSERT_ID();
#else
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment}管理', '', @MENU_TYPE_MENU, @ORDER_NUM, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', @MENU_STATUS_NORMAL, '${table.className}'
);
SET @parentId = LAST_INSERT_ID();
#end

-- -----------------------------------------
-- 按钮 INSERT（功能操作）
-- name: ${module}:${business}.action.query|create|update|delete|export|import
-- -----------------------------------------
-- @parentId 已在菜单 INSERT 后立即捕获
#set ($functionNames = $FUNCTION_ZH_NAMES)
#set ($index = 0)
#foreach ($fn in $functionNames)
INSERT INTO system_menu(
    name, i18n, permission, type, sort, parent_id,
    path, icon, component, status
)
VALUES (
#if ($isI18n)
    '${table.classComment}${fn}','${table.moduleName}.${table.businessName}.action.${functionOps.get($index)}', '${permissionPrefix}:${functionOps.get($index)}', @MENU_TYPE_BUTTON, $foreach.count, @parentId,
#else
    '${table.classComment}${fn}','', '${permissionPrefix}:${functionOps.get($index)}', @MENU_TYPE_BUTTON, $foreach.count, @parentId,
#end
    '', '', '', @MENU_STATUS_NORMAL
);
#set ($index = $index + 1)
#end
## 导入功能按钮（当 extendConfig.isImport 为 0 或不存在时开启，为 1 时关闭）
#if(${isImport})
INSERT INTO system_menu(
    name, i18n, permission, type, sort, parent_id,
    path, icon, component, status
)
VALUES (
#if ($isI18n)
    '${table.classComment}导入','${table.moduleName}.${table.businessName}.action.import', '${permissionPrefix}:import', @MENU_TYPE_BUTTON, @ORDER_NUM, @parentId,
#else
    '${table.classComment}导入', '','${permissionPrefix}:import', @MENU_TYPE_BUTTON, @ORDER_NUM, @parentId,
#end
    '', '', '', @MENU_STATUS_NORMAL
);
#end
